{% extends 'base.html' %}
{% block content %}
     <!--breadcrumbs start-->
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>
              About
            </h1>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs end-->

    <!--container start-->
    <div class="container">
      <div class="row mar-b-50">
        <div class="col-lg-5">
          <div class="about-carousel wow fadeInLeft">
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <img src="/assets/img/1.jpg" alt="">
                  <div class="carousel-caption">
                    <p>
                      Online Food Waste Management
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/2.png" alt="">
                  <div class="carousel-caption">
                    <p>
                      Online Food Waste Management
                    </p>
                  </div>
                </div>
                <div class="item">
                  <img src="/assets/img/3.webp" alt="">
                  <div class="carousel-caption">
                    <p>
                      Online Food Waste Management
                    </p>
                  </div>
                </div>

              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left">
                </i>
              </a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right">
                </i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 about wow fadeInRight">
          <h3>About Online Food Waste Management</h3>
          <p>A food bank is a non-profit, charitable organization that distributes food to those who have difficulty purchasing enough to avoid hunger, usually through intermediaries like food pantries and soup kitchens. Some food banks distribute food directly with their food pantries.</p>
          <p>St. Mary's Food Bank was the world's first food bank, established in the US in 1967. Since then, many thousands have been set up all over the world. In Europe, their numbers grew rapidly after the global increase in the price of food which began in late 2006, and especially after the financial crisis of 2007–2008 began to worsen economic conditions for those on low incomes. Likewise, the inflation and economic crisis of the 2020s has exponentially driven low and even some middle income class consumers to at least partially get their food.

          </p>
        </div>
      </div>

    </div>
  {% endblock content %}

