{% extends 'base.html' %}
{% block content %}
    <!-- Sequence Modern Slider -->
    <div id="da-slider" class="da-slider" style="top:1px; text-align: center; background: #7ba5c9">
        <img src="/assets/img/banner.jpg" style="width: 100%;">
    </div>


    <div class="container">
      <div class="row mar-b-30">
        <div class="col-md-12">
          <div class="text-center feature-head wow fadeInDown">
            <h1 class="" style="margin:30px;">
              Welcome to Online Food Waste Management
            </h1>

          </div>


          <div class="feature-box">
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                <img src="/assets/img/1.jpg" alt="" style="width:350px; height:180px;">

                </em>
                <h4>
                  <b>Online Food Donation Management</b>
                </h4>
              </div>
              <p class="text-center">
                The growth of food banks has been welcomed by commentators who see them as examples of active, caring citizenship. Other academics and commentators have expressed concern that the rise of food banks may erode political support for welfare provision.
              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/2.png" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>Request Food Online</b>
                </h4>
              </div>
              <p class="text-center">
                The growth of food banks has been welcomed by commentators who see them as examples of active, caring citizenship. Other academics and commentators have expressed concern that the rise of food banks may erode political support for welfare provision.              </p>
            </div>
            <div class="col-md-4 col-sm-4 text-center wow fadeInUp">
              <div class="feature-box-heading">
                <em>
                  <img src="/assets/img/3.webp" alt="" style="width:350px; height:180px;">
                </em>
                <h4>
                  <b>User Management System</b>
                </h4>
              </div>
              <p class="text-center">
                The growth of food banks has been welcomed by commentators who see them as examples of active, caring citizenship. Other academics and commentators have expressed concern that the rise of food banks may erode political support for welfare provision.
              </p>
            </div>
          </div>

          <!--feature end-->
        </div>
      </div>
    </div>


    <!--property start-->
    <div class="property gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-6 text-center wow fadeInLeft">
            <img src="/assets/img/4.webp" alt="" style="height:335px; width:560px">
          </div>
          <div class="col-lg-6 col-sm-6 wow fadeInRight">
            <h1>
              About Online Food Waste Management
            </h1>
            <hr>
            <p>A food bank is a non-profit, charitable organization that distributes food to those who have difficulty purchasing enough to avoid hunger, usually through intermediaries like food pantries and soup kitchens. Some food banks distribute food directly with their food pantries.

              St. Mary's Food Bank was the world's first food bank, established in the US in 1967. Since then, many thousands have been set up all over the world. In Europe, their numbers grew rapidly after the global increase in the price of food which began in late 2006, and especially after the financial crisis of 2007–2008 began to worsen economic conditions for those on low incomes. Likewise, the inflation and economic crisis of the 2020s has exponentially driven low and even some middle income class consumers to at least partially get their food.

            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}

